<ion-searchbar
  [dir]="'rtl'"
  placeholder="חפשי כאן"
  (ionInput)="search($event)"
  [debounce]="1000"
></ion-searchbar>

<div class="warpper">
  {{ results | async }}
  asd
  <!-- <ion-list>
    @for (item of items; track item; let index = $index) {
      <ion-item>
        <ion-avatar slot="start">
          <img [src]="'https://picsum.photos/80/80?random=' + index" alt="avatar" />
        </ion-avatar>
        <ion-label>{{ item }}</ion-label>
      </ion-item>
    }
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
</div>

<google-map
  #googleMap
  [center]="(center$ | async) || { lat: 31.768318, lng: 35.213711 }"
  [zoom]="20"
  [autofocus]="true"
  [dir]="'rtl'"
  lang="iw"
  [height]="'40vh'"
  [width]="'95vw'"
  mapId="3dedb5ed63e348"
  [options]="{
    controlSize: 20,

  }"
>
  <!-- <map-marker *ngIf="center$ | async as center" [position]="center" /> -->
  <map-advanced-marker *ngIf="(center$ | async) as center" [position]="center"></map-advanced-marker>
</google-map>
