<ion-searchbar
  [dir]="'rtl'"
  placeholder="חפשי כאן"
  (ionInput)="search($event)"
></ion-searchbar>

<div class="warpper" #warpper>
  @for(mikveh of mikvehs$ | async; track mikveh; let idx = $index ){
  <div class="mikveh" #dynamicElement [ngClass]="{expanded: mikveh['expanded']}" (click)="flipOnClick(mikveh)" [id]="mikveh.id" >
    <div class="details">
      <div class="name title" style="margin: 0;">
        {{ mikveh.name }}
      </div>
      <div class="address">
        {{ mikveh.address }}
      </div>
      <div class="expansion" [ngClass]="{show:mikveh['expanded']}">
        <div class="phoneNum">
          <a [href]="'tel:'+ mikveh.phoneNum">{{ mikveh.phoneNum }} </a>
        </div>
        <div class="openHours">
          <div class="title">
            שעות פתיחה
          </div>
          <div class="midWeekHours">
            <span>א' - ה':</span>
             {{ mikveh.midWeekHours.open | date: 'HH:mm' }} - {{ mikveh.midWeekHours.close | date: 'HH:mm'}}
          </div>
           <div class="fridayOrErevHagSummer">
            <span>ערב שבת/חג שעון קיץ:</span>
           {{ mikveh.fridayOrErevHagSummer.hoursAfterKnisatRelative | translateHeb }}  לאחר כניסת השבת/חג
           למשך {{ mikveh.fridayOrErevHagSummer.workingHours | translateHeb }}
           <br />
           ({{getAddHoursRelative(mikveh.fridayOrErevHagSummer.hoursAfterKnisatRelative, candleLighting(), mikveh,'fridayOrErevHagSummer.hoursAfterKnisatRelative') | date: 'HH:mm'}} -
          {{getAddHoursRelative( mikveh.fridayOrErevHagSummer.workingHours, getAddHoursRelative(mikveh.fridayOrErevHagSummer.hoursAfterKnisatRelative, candleLighting(), mikveh,'fridayOrErevHagSummer.hoursAfterKnisatRelative'), mikveh,'fridayOrErevHagSummer.workingHours') | date: 'HH:mm'}})
          <br>
          </div>
          <div class="motzaeiShabbatOrHagSummer">
            <span>מוצאי שבת וחג בקיץ:</span>
           {{ mikveh.motzaeiShabbatOrHagSummer.hoursAfterMotzaeiRelative | translateHeb }}  לאחר מוצאי השבת/חג
           למשך {{ mikveh.motzaeiShabbatOrHagSummer.workingHours | translateHeb }}
           <br />
           ({{getAddHoursRelative(mikveh.motzaeiShabbatOrHagSummer.hoursAfterMotzaeiRelative, shabatHavdalah(), mikveh,'motzaeiShabbatOrHagSummer.hoursAfterMotzaeiRelative') | date: 'HH:mm'}} -
          {{getAddHoursRelative( mikveh.motzaeiShabbatOrHagSummer.workingHours, getAddHoursRelative(mikveh.motzaeiShabbatOrHagSummer.hoursAfterMotzaeiRelative, shabatHavdalah(), mikveh,'motzaeiShabbatOrHagSummer.hoursAfterMotzaeiRelative'), mikveh,'motzaeiShabbatOrHagSummer.workingHours') | date: 'HH:mm'}})
          <br>
          </div>
          <div class="fridayOrErevHagWinter">
            <span>ערב שבת/חג שעון חורף:</span>
           {{ mikveh.fridayOrErevHagWinter.hoursAfterKnisatRelative | translateHeb }}  לאחר כניסת השבת/חג
           למשך {{ mikveh.fridayOrErevHagWinter.workingHours | translateHeb }}
           <br />
           ({{getAddHoursRelative(mikveh.fridayOrErevHagWinter.hoursAfterKnisatRelative, candleLighting(), mikveh,'fridayOrErevHagWinter.hoursAfterKnisatRelative') | date: 'HH:mm'}} -
          {{getAddHoursRelative( mikveh.fridayOrErevHagWinter.workingHours, getAddHoursRelative(mikveh.fridayOrErevHagWinter.hoursAfterKnisatRelative, candleLighting(), mikveh,'fridayOrErevHagWinter.hoursAfterKnisatRelative'), mikveh,'ridayOrErevHagWinter.workingHours') | date: 'HH:mm'}})
          <br>
          </div>
          <div class="motzaeiShabbatOrHagWinter">
            <span>מוצאי שבת וחג שעון חורף:</span>
           {{ mikveh.motzaeiShabbatOrHagWinter.hoursAfterMotzaeiRelative | translateHeb }}  לאחר מוצאי השבת/חג
           למשך {{ mikveh.motzaeiShabbatOrHagWinter.workingHours | translateHeb }}
           <br />
           ({{getAddHoursRelative(mikveh.motzaeiShabbatOrHagWinter.hoursAfterMotzaeiRelative, shabatHavdalah(), mikveh,'motzaeiShabbatOrHagWinter.hoursAfterMotzaeiRelative') | date: 'HH:mm'}} -
          {{getAddHoursRelative( mikveh.motzaeiShabbatOrHagWinter.workingHours, getAddHoursRelative(mikveh.motzaeiShabbatOrHagWinter.hoursAfterMotzaeiRelative, shabatHavdalah(), mikveh,'motzaeiShabbatOrHagWinter.hoursAfterMotzaeiRelative'), mikveh,'motzaeiShabbatOrHagWinter.workingHours') | date: 'HH:mm'}})
          <br>
          </div>
          <div class="mainBalanit">
            <div class="title">בלנית ראשית:</div>

            {{ mikveh.mainBalanit.name }} - <a [href]="'tel:'+ mikveh.mainBalanit.phone">{{ mikveh.mainBalanit.phone }} </a>
          <br>
          </div>
          <div class="details" *ngIf="mikveh.details">
            <div class="title">הערות כלליות:</div>
            {{ mikveh.details }}
          <br>
          </div>
        </div>
      </div>
    </div>
    <div class="buttons">
      <div class="expand">
        <ion-button shape="round" size="small" class="no-shaddow" [ngClass]="{flipped:mikveh['expanded']}" >
          <ion-icon slot="icon-only" name="chevron-down-outline"></ion-icon>
        </ion-button>
      </div>
      <div class="navigate">
        <ion-button shape="round" size="small" class="no-shaddow" [href]="'geo:'+mikveh.lat+','+mikveh.lng+'?q='+mikveh.lat+','+mikveh.lng">
          <ion-icon slot="icon-only" name="location-outline"></ion-icon>
        </ion-button>
      </div>
    </div>
  </div>
  }
</div>

<google-map
  #googleMap
  [center]="(center$ | async) || { lat: 1.768318, lng: 35.213711 }"
  [zoom]="15"
  [autofocus]="true"
  [dir]="'rtl'"
  lang="iw"
  [height]="'30vh'"
  [width]="'30vh'"
  [style]="{ borderRadius: '1rem' }"
  mapId="3dedb5ed63e348"
  [options]="{
    controlSize: 20,
    clickableIcons: false,
    disableDefaultUI: true,
  }"

  (mapDragend)="mapDragend()"
>
  <!-- <map-marker *ngIf="center$ | async as center" [position]="center" /> -->
  <!-- <map-advanced-marker
    *ngIf="center$ | async as center"
    [position]="center"

  ></map-advanced-marker> -->

  @for(mikveh of mikvehs$ | async; track mikveh; let idx = $index ){
  <map-advanced-marker
    [position]="{ lat: mikveh.lat, lng: mikveh.lng }"
    [title]="mikveh.name"
    (mapClick)="markClick(mikveh)"


  ></map-advanced-marker>
  }
</google-map>
