<ion-searchbar
  [dir]="'rtl'"
  placeholder="חפשי כאן"
  (ionInput)="search($event)"
  [debounce]="1000"
></ion-searchbar>

<div class="warpper">
  @for(mikveh of mikveh$ | async; track mikveh; let idx = $index ){ }
  <div class="mikveh">

  </div>
</div>

<google-map
  #googleMap
  [center]="(center$ | async) || { lat: 31.768318, lng: 35.213711 }"
  [zoom]="20"
  [autofocus]="true"
  [dir]="'rtl'"
  lang="iw"
  [height]="'40vh'"
  [width]="'95vw'"
  mapId="3dedb5ed63e348"
  [options]="{
    controlSize: 20,
  }"
>
  <!-- <map-marker *ngIf="center$ | async as center" [position]="center" /> -->
  <map-advanced-marker
    *ngIf="center$ | async as center"
    [position]="center"
  ></map-advanced-marker>

  @for(mikveh of mikvehs$ | async; track mikveh; let idx = $index ){
  <map-marker
    [position]="{ lat: mikveh.lat, lng: mikveh.lng }"
    [label]="mikveh.name"
    [title]="mikveh.name"
  ></map-marker>
  }
</google-map>
