<ion-grid style="background: #F4D1CD;">
  <ion-row style="margin: auto 6vw;">
    <ion-col class="ion-text-center time" size="4" >
      <ion-img src="assets/icon/zricha.png"></ion-img>
      <ion-text >{{sunrize() | date : 'HH:mm'}}</ion-text>

    </ion-col>
    <ion-col class="ion-text-center text" size="4">
      <ion-text >{{debDate()}}</ion-text>
      </ion-col>
    <ion-col class="ion-text-center time" size="4" style="justify-content: end;">
      <ion-img src="assets/icon/shkiaa.png"></ion-img>
      <ion-text >{{sunset() | date : 'HH:mm'}}</ion-text>

    </ion-col>
  </ion-row>
</ion-grid>
