<ion-grid>
  <ion-row style="margin: auto 6vw;">
    <ion-col class="ion-text-center time" size="4" >
      <ion-img src="assets/icon/zricha.png"></ion-img>
      <ion-text >{{sunrize$ | async }}</ion-text>

    </ion-col>
    <ion-col class="ion-text-center text" size="4">
      <ion-text >{{debDate$ | async}}</ion-text>
      </ion-col>
    <ion-col class="ion-text-center time" size="4" style="justify-content: end;">
      <ion-img src="assets/icon/shkiaa.png"></ion-img>
      <ion-text >{{sunset$ | async }}</ion-text>
    </ion-col>
  </ion-row>
</ion-grid>
