rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /mikvehs/{document=**} {
      allow read: if true;
      // write if the email of the authorized person's email is in the list: [tsanhan@gmail.com]
      allow write: if request.auth.token.email in ['tsanhan@gmail.com'];
    }
  }
}
