:host {
  display: block;
  background: #FFFFFF;
  padding-left: 3rem;
  padding-right: 3rem;
}


swiper-container {
  width: 100%;
  // height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: inherit;
}

swiper-slide {
  background-size: cover;
  background-position: center;
}

.footer-swiper {
  // height: 100%;
  box-sizing: border-box;
  padding: 10px 44px;
}

.footer-swiper swiper-slide {
  width: 25%;
  // height: 100%;
  opacity: 0.4;
  color: black;
}

.footer-swiper .swiper-slide-thumb-active {
  opacity: 1;

}

.topic-slide-link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  height: 13vh;

  & ion-text {
    font-size: small;
    text-align: center;
  }
}

ion-avatar {
  width: 15vw;
  height: 15vw;
}

ion-text {
  color: black;
  font-family: 'VarelaRound';
  font-size: 0.75rem;
}









swiper-container {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper {
  height: 80%;
  width: 100%;
}

.mySwiper2 {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper2 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper2 .swiper-slide-thumb-active {
  opacity: 1;
  -webkit-filter: drop-shadow(-1px 3px 3px #000000);
  filter: drop-shadow(-1px 3px 3px #000000);
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
