<div class="headline">
  הוספה
</div>
<div class="buttons">
  <ion-radio-group value="HEFSEK_TAHARA" class="d-flex flex-row gap-2">
    <ion-radio value="REIYA">ראיה</ion-radio>
    <ion-radio value="HEFSEK_TAHARA">הפסק טהרה</ion-radio>
    <ion-radio value="TVILA">טבילה</ion-radio>
    <ion-radio value="HEARA" class="icon">
      <ion-button shape="round" size="small" fill="clear">
        <ion-icon slot="icon-only" src="assets/icon/edit-3.svg">.</ion-icon>
      </ion-button>
    </ion-radio>
  </ion-radio-group>
</div>
<div class="buttons">
  <ion-button class="cancel-btn" size="small" expand="block" shape="round" fill="outline" (click)="cancelAddEvent()">ביטול</ion-button>
  <ion-button class="save-btn" size="small" expand="block" shape="round" (click)="addEvent()">שמירה</ion-button>
</div>
<!-- <ng-icon name="edit-3" >.</ng-icon> -->