<div class="headline">
  הוספה
</div>
<div class="text">
  בחרי את סוג האירוע
</div>
<div class="buttons">
  <ion-radio-group [formControl]="eventTypeFC" [value]="InputEventTypeEnum.VESET" class="d-flex flex-row gap-2">
    <ion-radio [value]="InputEventTypeEnum.VESET">ווסת</ion-radio>
    <ion-radio [value]="InputEventTypeEnum.KETEM_TAME">כתם טמא</ion-radio>
    <ion-radio [value]="InputEventTypeEnum.BDIKA_TMEA">בדיקה טמאה</ion-radio>
    @if (canAddHefsek) {
      <ion-radio [value]="InputEventTypeEnum.HEFSEK_TAHARA">הפסק טהרה</ion-radio>
    }
  </ion-radio-group>
</div>
@if (eventTypeFC.value === InputEventTypeEnum.HEFSEK_TAHARA) {
  <div class="text">
    הפסק טהרה - סימנים שהטומאה הסתיימה
  </div>
} @else {
  <div class="text">
    <div>
      בחרי את עונת הראיה
    </div>
    <div class="subtitle">
      <span>זמני
        {{selectedHDateHeb}}:
      </span>
      <span>זריחה: {{sunriseByDate(hdate) | async }} שקיעה: {{sunsetByDate(hdate, eventOnaFC.value) | async }}</span>
    </div>
  </div>
  <div class="buttons">
    <ion-radio-group [formControl]="eventOnaFC" [value]="InputEventOnaEnum.NIGHT" class="d-flex flex-row gap-2">
      <ion-radio [value]="InputEventOnaEnum.NIGHT">🌙 לילה</ion-radio>
      <ion-radio [value]="InputEventOnaEnum.DAY">☀️ יום</ion-radio>
    </ion-radio-group>
  </div>
  <div class="text">
    <div class="subtitle">
      עונת יום - מזריחה לשקיעה עונת לילה - משקיעה לזריחה
    </div>
  </div>
}
<div class="buttons">
  <ion-button class="cancel-btn" size="small" expand="block" shape="round" fill="outline"
    (click)="cancelAddEvent()">ביטול</ion-button>
  <ion-button class="save-btn" size="small" expand="block" shape="round" (click)="addEvent()">
    <ion-icon name="checkmark-outline"></ion-icon>
    הוספה
  </ion-button>
</div>
<!-- <ng-icon name="edit-3" >.</ng-icon> -->
