<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home-tab" href="/tabs/home-tab" >
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
      <ion-label>בית</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chabad" href="/tabs/chabad">
      <ng-icon [svg]="jamCrown" size="1.5rem"></ng-icon>
      <ion-label>חב"ד</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ashkenaz" href="/tabs/ashkenaz">
      <ng-icon [svg]="faSolidScrollTorah" size="1.5rem"></ng-icon>
      <ion-label>הרמ"א</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="sfard" href="/tabs/sfard">
      <ng-icon [svg]="faSolidBookTanakh" size="1.5rem" ></ng-icon>
      <ion-label>ספרד</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
