
<ion-header [translucent]="true" collapse="fade">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/']">
        <ion-icon slot="icon-only" name="home-outline"></ion-icon>
      </ion-button>
      <!-- <ion-button [routerLink]="['tabs','home-tab']">
        <ion-icon slot="icon-only" name="home-outline"></ion-icon>
      </ion-button> -->

    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center" size="4">
          <ng-icon name="tdesignSunRising" />
          {{sunrize() | date : 'HH:mm'}}
        </ion-col>
        <ion-col class="ion-text-center" size="4">{{debDate()}}</ion-col>
        <ion-col class="ion-text-center" size="4">
          <ng-icon name="tdesignSunFall" />
          {{sunset() | date : 'HH:mm'}}
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-router-outlet></ion-router-outlet>
</ion-content>
