<ion-content class="ion-padding">
  <div class="grid-container">
    <div class="header">
      <ion-avatar>
        <!-- <img alt="" src="" /> -->
      </ion-avatar>
      <ion-text>
        <h1>אודות</h1>
      </ion-text>
      <ion-text>
        <h5>כותרת משנה</h5>
      </ion-text>
    </div>
    <div class="main">
      <div>
        פסקה אודות המיזם עם הסכמות וכו’
      </div>
      <div>
        אם בעלך רופא- לא יקיז לך דם, לא ימשש את הדופק שלך וכדו'. ואם את חלילה חולה שיש בה סכנה, ואין שם רופא אחר או
        רופא
        בקיא כמו בעלך, מותר.
        הנהגות כלליות בזמן נידה:
      </div>
      <div>
        נהגו הנשים שלא ללכת לבית החיים בימי נידתן (בימים בהם רואה דם).
        וכמו כן נהגו שלא להסתכל בספר התורה בשעה שמגביהים אותו. בשבעת הנקיים מותר.
        בקשר לתפילות וברכות אין חילוק בין אישה לא טהורה לטהורה, ע"כ נוסיף בתפילות ובקשות על הגאולה.
        נכון להדר בכל הקשור בדיני ההרחקות, וכל המרבה הרי זה משובח.
      </div>
      <div>
        נהגו הנשים שלא ללכת לבית החיים בימי נידתן (בימים בהם רואה דם).
        וכמו כן נהגו שלא להסתכל בספר התורה בשעה שמגביהים אותו. בשבעת הנקיים מותר.
        בקשר לתפילות וברכות אין חילוק בין אישה לא טהורה לטהורה, ע"כ נוסיף בתפילות ובקשות על הגאולה.
        נכון להדר בכל הקשור בדיני ההרחקות, וכל המרבה הרי זה משובח.
      </div>
    </div>
    <div class="links">
      <ion-avatar [routerLink]="['/topics']" class="halakhot-avatar"></ion-avatar>
      <!-- <ion-button shape="round" color="dark" href="{{url}}">
          <ion-icon  slot="icon-only" name="star"></ion-icon>
        </ion-button> -->
      <ion-text class="halakhot-text">
        הלכות
      </ion-text>

      <ion-avatar (click)="whatsapp()" class="whatsapp-avatar"></ion-avatar>
      <!-- <ion-button shape="round" color="dark" href="{{url}}">
          <ion-icon slot="icon-only" name="star"></ion-icon>
        </ion-button> -->
      <ion-text class="whatsapp-text">
        שלחי שאלה
      </ion-text>
    </div>
  </div>
  <!-- <ion-grid >
    <ion-row class="ion-justify-content-center">
      <ion-col size="12"  style="display: flex;" class="ion-justify-content-center ion-no-padding">
        <ion-avatar>
          <img alt="" src="" />
        </ion-avatar>
      </ion-col>
      <ion-col size="12" style="display: flex;" class="ion-justify-content-center ion-no-padding">
        <ion-text >
          <h1>אודות</h1>
        </ion-text>
      </ion-col>
      <ion-col size="12" style="display: flex;" class="ion-justify-content-center ion-no-padding">
        <ion-text >
          <h5>כותרת משנה</h5>
        </ion-text>
      </ion-col>

    </ion-row>

    <ion-row class="ion-justify-content-center ion-align-items-end">
      <ion-col size="12" style="display: flex;" class="ion-justify-content-center ion-no-padding">
        <ion-button href="{{url}}">
          Click me
        </ion-button>
       </ion-col>
    </ion-row>
  </ion-grid> -->

</ion-content>
