:host {
   display: flex;
   justify-content: space-between;
}

img {
  height: 5vh;
  width: 5vh;
  object-fit: cover;
  border-radius: 50%;
}

ion-fab-button {
  --box-shadow: none;
  margin: 0;
}

.list-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  & .list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }

  & .list, .button   {
    transform: translateY(0vh);
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;


  }

  & .open {
    transform: translateY(-8vh) !important;



  }



}
