



:host {
  background: var(--app);
}

// img {
//   height: 5vh;
//   width: 5vh;
//   object-fit: cover;
//   border-radius: 50%;
// }

ion-fab-button {
  --box-shadow: none;
  margin: 0;
}

ion-fab-button::part(close-icon) {
  display: none;
  // background:url("/src/assets/icon/ahita\ bachur.png");
}

ion-fab-list {
  align-items: baseline;
  margin-top: 3rem;
  transform: translateX(0.5rem);

  ion-fab-button::part(native) {
    border-radius: 0;
    text-wrap: wrap;
    background: #E89F9F;
    font-family: 'Heebo-Regular';
    font-size: 0.6rem;
    color: #FFFFFF;
    padding: 0 0.5rem;
    width: 5.25rem;
    min-height: 2.25rem;
    line-height: 1.1;


  }
  ion-fab-button.active::part(native) {
    color: #000000;
  }

  ion-fab-button:last-child::part(native){
    border-radius: 100% 0% 50% 50% / 0% 0% 100% 100%;
    position: relative;
    padding: 0rem 0.5rem 0.5rem 0.5rem;
    height: 2rem;
    transform: translateY(-1px);
    & ion-text{
      height: -webkit-fill-available;
    }
  }

  ion-text{
    text-align: center;
    padding: 10px 0.5rem;
  }
}

ion-fab.shita-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--app);
  margin: 0rem 1rem 0 1rem;
  padding: 0.5rem;
}


ion-fab.shita-alt {
  background: #E89F9F;
  margin: 0rem 1rem 0;
  padding: 0.5rem;
  border-radius: 50% 50% 0 0;
}

ion-fab.whatsapp {
  margin: 0.5rem 1.5rem 1.5rem 1.5rem;
  padding: 0.5rem;
}

ion-menu-button {
  margin: 0.5rem 1.5rem 1.5rem 1.5rem;
  color: #d78788;
}

::ng-deep ion-button.routActive {
  color: black;
}


::ng-deep ion-button {
  color: #FFFFFF;

}

.shita-text{
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #d78788;
  top: 40%;
}
