<ion-fab [activated]="isShowApproaches()" [ngClass]="{'shita-main': true, open: isShowApproaches()}" slot="fixed"
  vertical="top" horizontal="start" (click)="toggle('main')">
  <ion-fab-button color="transparent" size="small">
    <ion-img src="assets/icon/shita.png"></ion-img>
  </ion-fab-button>
  <ion-fab-list side="bottom">
    <ion-fab-button [ngClass]="{active: selectedApproach().name === 'ashkenaz'}" (click)="chooseApproach('ashkenaz')">
      <ion-text>
        {{this.approaches()['ashkenaz'].nameHeb}}
      </ion-text>
    </ion-fab-button>
    <ion-fab-button [ngClass]="{active: selectedApproach().name === 'chabad'}" (click)="chooseApproach('chabad')">
      <ion-text style="padding-bottom: 0.5rem;">
        {{this.approaches()['chabad'].nameHeb}}
      </ion-text>
    </ion-fab-button>
    <ion-fab-button [ngClass]="{active: selectedApproach().name === 'sfarad'}" (click)="chooseApproach('sfarad')">
      <ion-text style="height: -webkit-fill-available;">
        {{this.approaches()['sfarad'].nameHeb}}
      </ion-text>
    </ion-fab-button>
    <ion-fab-button [show]="true">
      <ion-button [ngClass]="{routActive: (rootRoute$ | async)?.includes('/calendar')}" fill="clear" routerLink="/calendar" style="--padding-bottom: 10px;">
        <ion-icon  slot="icon-only" name="calendar-outline"></ion-icon>
      </ion-button>
    </ion-fab-button>
    <ion-fab-button [show]="true">
      <ion-button [ngClass]="{routActive: (rootRoute$ | async)?.includes('/approaches')}" fill="clear" routerLink="/approaches" style="--padding-bottom: 10px;">
        <ion-icon slot="icon-only" name="book-outline"></ion-icon>
      </ion-button>
    </ion-fab-button>

  </ion-fab-list>
</ion-fab>

<ion-fab *ngIf="isShowApproaches()" class="shita-alt" slot="fixed" vertical="top" horizontal="start"
  (click)="toggle('alt')">

  <ion-fab-button color="transparent" size="small">
    <ion-img src="assets/icon/ahita bachur.png"></ion-img>
  </ion-fab-button>
</ion-fab>

<!-- <ul class="list" [ngClass]="{'open':toggleApproaches() }">
    <li>🔯</li>
    <li>🔯</li>
    <li>🔯</li>
  </ul> -->



<ion-fab class="whatsapp" slot="fixed" vertical="top" horizontal="end">
  <ion-fab-button color="transparent" [href]="url" target="_blank" size="small">
    <ion-img src="assets/icon/watsapp.png"></ion-img>
  </ion-fab-button>
</ion-fab>

