
<ion-app>
  <ion-menu side="end"  contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-menu-toggle>
          <ion-button size="large" fill="clear" shape="round" class="close-button">
            <ion-icon slot="icon-only" name="close-outline" class="close-icon"></ion-icon>
          </ion-button>
        </ion-menu-toggle>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <app-side-menu-content></app-side-menu-content>
    </ion-content>
  </ion-menu>
  <div class="top-buttons" id="main-content">
    <app-top-buttons></app-top-buttons>
  </div>
    <ion-router-outlet style="margin-top: 7vh;"></ion-router-outlet>

</ion-app>
