.top-buttons {
  height: 7vh;
  background: #f3d1ce;
  z-index: 9;
}

ion-menu::part(container) {
  width: -webkit-fill-available;
}

.close-button{
  margin: 0.5rem 1.5rem 0.5rem 1.5rem;;
  color: black;
}
.close-icon{
  color: black;
}

ion-header {
  box-shadow: none;
}
ion-toolbar{
  --background: #d37d7f;
  --border-color: #d37d7f;
  --color: black;
}

.ion-padding{
  --background: #d37d7f;
}
ion-content {

  --padding-top: 0;
}
