<swiper-container style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="mySwiper"
    thumbs-swiper=".mySwiper2" space-between="10" >
  <swiper-slide>
        <div class="header">
          <ion-avatar>
          </ion-avatar>
          <ion-text>
            <div class="title">אודות</div>
          </ion-text>
          <ion-text>
            <div class="subtitle">הלכות נידה</div>
          </ion-text>
        </div>
        <div>
          הלכות נידה
        </div>
      </swiper-slide>
  @for(topic of topics(); track topic) {
  <swiper-slide>
    <div class="header">
      <ion-avatar>
      </ion-avatar>
      <ion-text>
        <div class="title">{{title()}}</div>
      </ion-text>
      <ion-text>
        <div class="subtitle">{{subtitle()}}</div>
      </ion-text>
    </div>
    <div>
      @for(contentObj of topic.content; track contentObj; let i = $index){
      <div>
        @if(contentObj.type === 'img') {
        <img [src]="contentObj.data" />
        }
        @else {
        {{contentObj.data}}
        }
      </div>
      }
    </div>
  </swiper-slide>
  }

</swiper-container>

<!-- <swiper-container style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="mySwiper"
    thumbs-swiper=".mySwiper2" space-between="10" navigation="true">
    <swiper-slide>
      <img src="https://swiperjs.com/demos/images/nature-1.jpg" />
    </swiper-slide>
    <swiper-slide>
      <img src="https://swiperjs.com/demos/images/nature-2.jpg" />
    </swiper-slide>
    <swiper-slide>
      <img src="https://swiperjs.com/demos/images/nature-3.jpg" />
    </swiper-slide>
    <swiper-slide>
      <img src="https://swiperjs.com/demos/images/nature-4.jpg" />
    </swiper-slide>
    <swiper-slide>
      <img src="https://swiperjs.com/demos/images/nature-5.jpg" />
    </swiper-slide>
    <swiper-slide>
      <img src="https://swiperjs.com/demos/images/nature-6.jpg" />
    </swiper-slide>
    <swiper-slide>
      <img src="https://swiperjs.com/demos/images/nature-7.jpg" />
    </swiper-slide>
    <swiper-slide>
      <img src="https://swiperjs.com/demos/images/nature-8.jpg" />
    </swiper-slide>
    <swiper-slide>
      <img src="https://swiperjs.com/demos/images/nature-9.jpg" />
    </swiper-slide>
    <swiper-slide>
      <img src="https://swiperjs.com/demos/images/nature-10.jpg" />
    </swiper-slide>
  </swiper-container> -->
