<swiper-container style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="mySwiper"
  thumbs-swiper=".mySwiper2" space-between="10">
  <swiper-slide>
    <ion-card>
      <img class="img" src="assets/images/srips/1.png" />
      <ion-card-header>
        <ion-card-title>אודות</ion-card-title>
        <ion-card-subtitle>הלכות נידה</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <div>
          Here's a small text description for the card content. Nothing more, nothing less.
        </div>
        <div>
          Here's a small text description for the card content. Nothing more, nothing less.
        </div>
        <div>

          Here's a small text description for the card content. Nothing more, nothing less.
        </div>
        <div>

          Here's a small text description for the card content. Nothing more, nothing less.
        </div>
        <div>

          Here's a small text description for the card content. Nothing more, nothing less.
        </div>
        <div>

          Here's a small text description for the card content. Nothing more, nothing less.
        </div>
        <div>

          Here's a small text description for the card content. Nothing more, nothing less.
        </div>
        <div>

          Here's a small text description for the card content. Nothing more, nothing less.
        </div>
        <div>

          Here's a small text description for the card content. Nothing more, nothing less.
        </div>
        <div>

          Here's a small text description for the card content. Nothing more, nothing less.
        </div>
        <div>

          Here's a small text description for the card content. Nothing more, nothing less.
        </div>
        <div>

          Here's a small text description for the card content. Nothing more, nothing less.
        </div>

      </ion-card-content>
    </ion-card>
  </swiper-slide>
  @for(topic of topics(); track topic; let idx = $index) {
  <swiper-slide>
    <ion-card>
      <img class="img" [src]="'assets/images/srips/'+(idx+2)+'.png'" />
      <ion-card-header>
        <ion-card-title>{{title()}}</ion-card-title>
        <ion-card-subtitle>{{subtitle()}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        @for(contentObj of topic.content; track contentObj; let i = $index){
        <div>
          @if(contentObj.type === 'img') {
          <img [src]="contentObj.data" />
          }
          @else {
          {{contentObj.data}}
          }
        </div>
        }

      </ion-card-content>
    </ion-card>
  </swiper-slide>
  }
</swiper-container>

