:host {
  display: block;
  background: #F4D1CD;
}


.swiper-wrapper {
  display: inherit;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

swiper-slide img {
  // width: 100%;
  // height: 100%;
  object-fit: cover;
  width: -webkit-fill-available;
}

swiper-container {
  width: 100%;
  // height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: inherit;
}

swiper-slide {
  background-size: cover;
  background-position: center;
  max-height: 72vh;
}

.main-swiper {
  // height: 100%;
  width: 100%;
}

.header {
  & .title {
    text-align: center;
    font-family: 'Frank Ruhl Libre';
    font-weight: 400;
  }

  & .subtitle {
    text-align: center;
    font-family: 'Narkis Block MF Regular A';
    font-weight: 400;
  }
}

ion-avatar {
  border: black 1px solid;
  margin: 0 auto;
}



ion-card {
  --background: #f4d1cd;
  margin: 0;
  box-shadow: 0 0 0 0 !important;
  -webkit-box-shadow: 0 0 0 0 !important;

}

ion-card-title {

}

ion-card-subtitle{
  font-family: 'VarelaRound';
  text-align: center;
  font-size: 0.75rem;
  color: black;
}
.content {
  overflow: scroll;
  // height: -webkit-fill-available;
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: 45vh;
  font-family: 'VarelaRound';
  font-size: 1rem;
  color: black;
  padding: 0 1.5rem;

  /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }

  & div:not(:first-child) {
    margin: 1rem auto;
  }
}

ion-img::part(image) {
  width: -webkit-fill-available;
}

ion-col {

  border: solid 1px #eb938a;

  text-align: center;
}
