:host {
  display: block;
}


.swiper-wrapper {
  display: inherit;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

swiper-slide img {
  // width: 100%;
  // height: 100%;
  object-fit: cover;
}

swiper-container {
  width: 100%;
  // height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: inherit;
}

swiper-slide {
  background-size: cover;
  background-position: center;
  max-height: 72vh;
}

.main-swiper {
  // height: 100%;
  width: 100%;
}

.header {
  & .title {
    text-align: center;
    font-family: 'Frank Ruhl Libre';
    font-weight: 400;
  }

  & .subtitle {
    text-align: center;
    font-family: 'Narkis Block MF Regular A';
    font-weight: 400;
  }
}

ion-avatar {
  border: black 1px solid;
  margin: 0 auto;
}




.slide-body {
  overflow: scroll;
  height: -webkit-fill-available;
  -ms-overflow-style: none;
  scrollbar-width: none;

  /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }

  & div:not(:first-child) {
    margin: 1rem auto;
  }
}


