<ion-header [translucent]="true" collapse="fade" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/']">
        <ion-icon slot="icon-only" name="home-outline"></ion-icon>
      </ion-button>
      <ion-button id="popover-button">
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
      <!-- <ion-button [routerLink]="['tabs','home-tab']">
        <ion-icon slot="icon-only" name="home-outline"></ion-icon>
      </ion-button> -->

    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center" size="4">
          <ng-icon name="tdesignSunRising" />
          {{sunrize() | date : 'HH:mm'}}
        </ion-col>
        <ion-col class="ion-text-center" size="4">{{debDate()}}</ion-col>
        <ion-col class="ion-text-center" size="4">
          <ng-icon name="tdesignSunFall" />
          {{sunset() | date : 'HH:mm'}}
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-router-outlet></ion-router-outlet>
</ion-content>

<ion-popover [animated]="true" trigger="popover-button">
  <ng-template>
    <ion-content>
      <ion-segment value="all" (ionChange)="onSelectionChanged($event)">

        <ion-segment-button [value]="approaches()['ashkenaz'].name"
          [ngClass]="{'segment-button-checked': approaches()['ashkenaz']['name'] === approach().name}">
          <ng-icon size="1.5rem" name="{{approaches()['ashkenaz'].svg}}"></ng-icon>
          <ion-label>{{approaches()['ashkenaz'].nameHeb}}</ion-label>
        </ion-segment-button>
        <ion-segment-button [value]="approaches()['chabad'].name"
          [ngClass]="{'segment-button-checked': approaches()['chabad']['name'] === approach().name}">
          <ng-icon size="1.5rem" name="{{approaches()['chabad'].svg}}"></ng-icon>
          <ion-label>{{approaches()['chabad'].nameHeb}}</ion-label>
        </ion-segment-button>
        <ion-segment-button [value]="approaches()['sfarad'].name"
          [ngClass]="{'segment-button-checked': approaches()['sfarad']['name'] === approach().name}">
          <ng-icon size="1.5rem" name="{{approaches()['sfarad'].svg}}"></ng-icon>
          <ion-label>{{approaches()['sfarad'].nameHeb}}</ion-label>
        </ion-segment-button>
      </ion-segment>

      <!-- <ion-list>
        <ion-item>
          <ion-toggle [checked]="darkMode()" (ionChange)="onToggleChangeDarkMode($event)" justify="space-between">גלישה במצב כהה</ion-toggle>
        </ion-item>
      </ion-list> -->
    </ion-content>
  </ng-template>
</ion-popover>
