


ion-content::part(scroll)::before{
  // background: linear-gradient(0turn, #EAA7A7, #ffffff);
  bottom: 1%;

}
ion-content {
  --background: var(--app);
}
// ion-footer::part(background) {
//   background: #b3372a;
// }

ion-footer {
  height: 11vh;
}



