.list{
  display: flex;
  margin: auto;
  flex-direction: column;
 align-items: center;
 width: 75vw;
 gap: 0.5rem;
  & .item{
    display: flex;
    background-color: #f3d1ce;
    border-radius: 2rem;
    width: inherit;
    padding: 0.7rem;
    align-items: center;
  }
}

ion-icon,.icon {
  font-size: 1.5rem;
  padding-left: 1rem;
}

.icon {
  width: 24px;
  box-sizing: content-box;
}

