.list{
  display: flex;
  margin: auto;
  flex-direction: column;
 align-items: center;
 width: 75vw;
  & .item{
    display: flex;
    background-color: #f3d1ce;
    border-radius: 2rem;
    width: inherit;
    padding: 1rem;
    align-items: center;
  }
}

ion-icon{
  font-size: 1.5rem;
  padding-left: 1rem;
}
