<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="approach1tab" href="/approachTabs/approach1tab">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Tab 1</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="approach2tab" href="/approachTabs/approach2tab">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Tab 2</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="approach3tab" href="/approachTabs/approach3tab">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Tab 3</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
