.content{
  display: flex;
  flex-direction: column;
  height: -webkit-fill-available;
  justify-content: flex-start;
}
.data {
  display: flex;
    justify-content: center;
    height: -webkit-fill-available;
    align-items: stretch;
}
.buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 1rem 1rem;
  & .button{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    & .active{
      font-weight: bold;
    }

    & div {
      text-align: center;
    }
  }
}


ion-button{
  --background: rgb(242 209 206) !important;
  --color: rgb(0 0 0);
  --ion-color-base: rgb(242 209 206) !important;
  &.active{
    --ion-color-base: rgb(227 166 166) !important;
  }
  &::part(native) {
    height: auto;
  }

}

ion-icon{
  color: rgb(0 0 0);
}
