.content {
  display: flex;
  flex-direction: column;
  height: -webkit-fill-available;
  justify-content: flex-start;
  overflow: hidden;
}

.data {
  display: flex;
  justify-content: center;
  height: -webkit-fill-available;
  align-items: stretch;
  overflow: scroll;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 0rem 0.5rem;
  overflow: hidden;
  height: 6rem;

  & .button {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    // & 
    // .active{
    //   font-weight: bold;
    // }

    & div {
      text-align: center;
    }
  }
}


ion-button {
  --background: #fff1f2 !important;
  --color: rgb(0 0 0);
  --ion-color-base: #fff1f2 !important;

  &.active {
    --ion-color-base: #f9d9da !important;
  }

  &::part(native) {
    height: auto;
  }

}

ion-icon {
  color: rgb(0 0 0);
  height: 1.5rem;
  width: 1.5rem;
}