@if(!showEventModal()){
<ngb-datepicker class="hebrew rtl" #dp [ngModel]="selectedHebDate$ | async" [displayMonths]="1" [firstDayOfWeek]="7"
  [dayTemplate]="dt" [dayTemplateData]="dayTemplateData" [contentTemplate]="c" (ngModelChange)="onDateSelect($event)"
  navigation="none" [weekdays]="'short'">

</ngb-datepicker>
} @else {
<app-cal-add-event [selectedHDateHeb]="selectedHDateHeb$ | async" [hdate]="(selectedDateHDate$ | async)!"
  (onClose)="onCloseCalAddEvent($event)"></app-cal-add-event>
}

<ng-template #c let-dp>
  <div class="p-2">
    <div class="custom-month-grid">
      @for (month of dp.state.months; track month) {
      <div>
        <div class="nav height">
          <div class="text-dark fw-bold ">{{ dp.i18n.getMonthShortName(month.month) }}
            {{i18n.getYearNumerals(month.year)}}
          </div>
          <div class="btn-group d-flex justify-content-end mb-2 ltr" role="group">
            <ion-button shape="round" size="small" fill="clear" color="dark" (click)="navigate(dp, 1)">
              <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
            </ion-button>
            <ion-button shape="round" size="small" fill="clear" color="dark" (click)="navigate(dp, -1)">
              <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
            </ion-button>
          </div>
        </div>
        <ngb-datepicker-month class="border rounded" [month]="month"></ngb-datepicker-month>
      </div>
      }
    </div>
  </div>
</ng-template>

<ng-template #dt let-date let-data="data" let-selected="selected" let-currentMonth="currentMonth">
  @if(highlightedInputEvents$ | async; as CalEventDict ) {
    <div
    [ngClass]="{
      'hebrew-day': true,
      'outside': date.month !== currentMonth,
      selected,
      'veset': isADay(date, CalEventDict, inputEventType.VESET),
      'mahzor': isADay(date, CalEventDict, dayType.MAHZOR),
      'canStartHefsek': isADay(date, CalEventDict, dayType.CAN_START_CHECK_HEFSEK),
      'sevenCleans': isADay(date, CalEventDict, dayType.SEVEN_CLEAN),
      'mikvehDay': isADay(date, CalEventDict, dayType.MIKVEH_DAY),
      'muteret': isADay(date, CalEventDict, dayType.MUTERET),
      'prisha': isADay(date, CalEventDict, dayType.PRISHA),
      'onaBeinonit': isADay(date, CalEventDict, dayType.ONA_BEINONIT),
      'vesetHachodeshDay': isADay(date, CalEventDict, dayType.VESET_HACHODESH_DAY),
      'vesetHachodeshNight': isADay(date, CalEventDict, dayType.VESET_HACHODESH_NIGHT),
      'ketemTame': isADay(date, CalEventDict, inputEventType.KETEM_TAME),
      'bdikaTmea': isADay(date, CalEventDict, inputEventType.BDIKA_TMEA),
    }"
    >
      <div class="gregorian-num">{{ data.gregorian.day + '.' + data.gregorian.month }}</div>
      <div class="hebrew-num">{{ i18n.getDayNumerals(date) }}</div>
    </div>
  }
</ng-template>

<div class="details">
  <div class="content">
    <div class="date">
      <span class="soft-head-heb">
        {{ selectedHDateHeb$ | async }}
      </span>
      <span class="soft-head-greg">
        {{ selectedGregDate$ | async }}
      </span>
    </div>
    <div class="text">
      {{selectedHebDateDetails()}}
    </div>
    @if (selectedDayInputEvents$ | async; as dayInputs) {
      @if (dayInputs.length) {
        <div class="day-input-events">
          @for (e of dayInputs; track e) {
            <div class="day-input-event">
              <span class="label">{{ inputEventLabel(e) }}</span>
              <ion-button size="small" fill="clear" color="danger"
                (click)="onRemoveInputEvent(e)">
                <ion-icon slot="icon-only" name="close-outline"></ion-icon>
              </ion-button>
            </div>
          }
        </div>
      }
    }
  </div>
  <div class="add-btn">
    <ion-button shape="round" (click)="showAddEvent()">
      <ion-icon slot="icon-only" name="add"></ion-icon>
    </ion-button>
  </div>
</div>
