<!-- <div class="ion-datetime">

  <ion-datetime #dt color="rose" [style]="{direction: 'ltr'}" locale="he-IL" presentation="date"
    (ionChange)="onDateChange($event)" [value]="israelTime" [highlightedDates]="highlightedDates$ | async">
  </ion-datetime>

  
  <ion-fab>
    <ion-fab-button size="small" id="open-add-event-modal">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</div> -->

@if(!showEventModal()){
<ngb-datepicker class="hebrew rtl" #dp [ngModel]="selectedHebDate$ | async" [displayMonths]="1" [firstDayOfWeek]="7"
  [dayTemplate]="dt" [dayTemplateData]="dayTemplateData" [contentTemplate]="c" (ngModelChange)="onDateSelect($event)"
  navigation="none" [weekdays]="'short'">

</ngb-datepicker>
} @else {
<app-cal-add-event [selectedHDateHeb]="selectedHDateHeb$| async" [hdate]=" selectedDateHDate$ | async" (onClose)="showEventModal.set(false)"></app-cal-add-event>
}

<ng-template #c let-dp>
  <div class="p-2">

    <div class="custom-month-grid">
      @for (month of dp.state.months; track month) {
      <div>
        <div class="nav height">
          <div class="text-dark fw-bold ">{{ dp.i18n.getMonthShortName(month.month) }}
            {{i18n.getYearNumerals(month.year)}}
          </div>
          <div class="btn-group d-flex justify-content-end mb-2 ltr" role="group">
            <ion-button shape="round" size="small" fill="clear" color="dark" (click)="navigate(dp, -1)">
              <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
            </ion-button>
            <!-- <button type="button" class="btn btn-sm btn-clear-primary" (click)="navigate(dp, -1)"></button> -->
            <!-- <button type="button" class="btn btn-sm btn-clear-primary" (click)="today(dp)">●</button> -->
            <ion-button shape="round" size="small" fill="clear" color="dark" (click)="navigate(dp, 1)">
              <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
            </ion-button>
            <!-- <button type="button" class="btn btn-sm btn-clear-primary" (click)="navigate(dp, 1)">
              <</button> -->
          </div>

        </div>
        <ngb-datepicker-month class="border rounded" [month]="month"></ngb-datepicker-month>
      </div>
      }
    </div>
  </div>
</ng-template>
<ng-template #dt let-date let-data="data" let-selected="selected" let-currentMonth="currentMonth">
  <div class="hebrew-day" [class.outside]="date.month !== currentMonth" [class.selected]="selected">
    <div class="gregorian-num">{{ data.gregorian.day + '.' + data.gregorian.month }}</div>
    <div class="hebrew-num">{{ i18n.getDayNumerals(date) }}</div>
    <!-- {{test(data)}} -->
  </div>
</ng-template>

<div class="details">
  <div class="content">
    <div class="date">
      <span class="soft-head-heb">
        {{ selectedHDateHeb$ | async }}
      </span>
      <span class="soft-head-greg">
        {{ selectedGregDate$ | async }}
      </span>
    </div>
    <div class="text">
      loram ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.
    </div>
  </div>
  <div class="add-btn">
    <ion-button shape="round" (click)="showAddEvent()">
      <ion-icon slot="icon-only" name="add"></ion-icon>
    </ion-button>
  </div>
</div>
<div>
  <pre>Model: {{ showEventModal()}}</pre>
</div>

<!-- {{selectedDateData$ | async | json}} -->

<!-- selectedDate {{selectedDate$ | async }}
selectedHDateHeb {{selectedHDateHeb$ | async }}
filteredByApproach {{detailsToList$ | async | json}} -->
<!--  -->
<!-- {{this.selectedDate$ | async | date:'d LLLL':'':'he'}} -->


<!-- 
@for (item of detailsToList$ | async; track item.date) {
<ion-list lines="none">
  @for ( detail of item.details; track detail) {
  <ion-item>
    <ion-label>{{detail}}</ion-label>
  </ion-item>
  }
</ion-list>
} -->
<!-- 

<ion-modal #modal trigger="open-add-event-modal">
  <ng-template>
    <ion-content>
      <ion-toolbar>
        <ion-title>{{selectedHDateHeb$ | async}} {{selectedDate$| async | date:'d לMMMM':'':'he'}}</ion-title>
      </ion-toolbar>
      <ion-list>
        <form [formGroup]="addEventForm" (ngSubmit)="onAddEvent(); modal.dismiss()">
          <ion-item>
            <ion-select formControlName="type" label="ראייה" label-placement="fixed" placeholder="מה ראיתי">
              <ion-select-option [value]="InputEventTypeEnum.SEE_BLOOD">דם</ion-select-option>
              <ion-select-option [value]="InputEventTypeEnum.HEFSEK_TAHARA">הפסק טהרה</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item *ngIf="addEventForm.get('type')?.value === InputEventTypeEnum.SEE_BLOOD">
            <ion-radio-group formControlName="afterSunset" value="false">
              <ion-radio [value]="false">לפני שקיעה</ion-radio><br />
              <ion-radio [value]="true">אחרי שקיעה</ion-radio><br />
            </ion-radio-group>
          </ion-item>
          <ion-item>

            <ion-text>
              (<span>ב {{selectedDate$| async | date:'d לMMMM':'':'he'}}</span>
              <span> השקיעה היא ב{{sunsetForDate$ | async}}</span>)
            </ion-text>
          </ion-item>
          <ion-button type="submit" size="small">הוסיפי ראייה</ion-button>
        </form>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal> -->