<div class="ion-datetime">

  <ion-datetime #dt color="rose" [style]="{direction: 'ltr'}" locale="he-IL" presentation="date"
    (ionChange)="onDateChange($event)" [value]="israelTime" [highlightedDates]="highlightedDates$ | async">
  </ion-datetime>


  <ion-fab>
    <ion-fab-button size="small" id="open-add-event-modal">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</div>

<!-- {{selectedDateData$ | async | json}} -->

<!-- selectedDate {{selectedDate$ | async }}
selectedHDateHeb {{selectedHDateHeb$ | async }}
filteredByApproach {{detailsToList$ | async | json}} -->
<!--  -->
<!-- {{this.selectedDate$ | async | date:'d LLLL':'':'he'}} -->

@for (item of detailsToList$ | async; track item.date) {
<ion-list lines="none">
  @for ( detail of item.details; track detail) {
  <ion-item>
    <ion-label>{{detail}}</ion-label>
  </ion-item>
  }
</ion-list>
}


<ion-modal #modal trigger="open-add-event-modal">
  <ng-template>
    <ion-content>
      <ion-toolbar>
        <ion-title>{{selectedHDateHeb$ | async}} {{selectedDate$| async | date:'d לMMMM':'':'he'}}</ion-title>
      </ion-toolbar>
      <ion-list>
        <form [formGroup]="addEventForm" (ngSubmit)="onAddEvent(); modal.dismiss()">
          <ion-item>
            <ion-select formControlName="type" label="ראייה" label-placement="fixed" placeholder="מה ראיתי">
              <ion-select-option [value]="InputEventTypeEnum.SEE_BLOOD">דם</ion-select-option>
              <ion-select-option [value]="InputEventTypeEnum.HEFSEK_TAHARA">הפסק טהרה</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item *ngIf="addEventForm.get('type')?.value === InputEventTypeEnum.SEE_BLOOD">
            <ion-radio-group formControlName="afterSunset" value="false">
              <ion-radio [value]="false">לפני שקיעה</ion-radio><br />
              <ion-radio [value]="true">אחרי שקיעה</ion-radio><br />
            </ion-radio-group>
          </ion-item>
          <ion-item>

            <ion-text>
              (<span>ב {{selectedDate$| async | date:'d לMMMM':'':'he'}}</span>
              <span> השקיעה היא ב{{sunsetForDate$ | async}}</span>)
            </ion-text>
          </ion-item>
          <ion-button type="submit" size="small">הוסיפי ראייה</ion-button>
        </form>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>